<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}My TodoList{% endblock %}</title>
        {% block stylesheets %}
                {{ encore_entry_link_tags('app') }}
            {#Todo #}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
            <!-- Renders app.ts & a webpack runtime.js file
                <script src="/build/runtime.js" defer></script>
                <script src="/build/app.ts" defer></script>
                See note below about the "defer" attribute -->
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% block header %}
                <div class="flex justify-between px-4 py-2 bg-blue-700 text-white">
                    <div class="flex gap-5">
                        <a class="hover:text-slate-300" href="/">Todos</a>
                        <div class="h-full w-[2px] bg-white"></div>
                        <a class="hover:text-slate-300" href="/tags">Tags</a>
                    </div>
                    <div class="flex gap-5">
                        <p>{{ app.user ?  'Salut, ' ~ app.user.username ~ ' !'}}</p>
                        <a class="hover:text-slate-300" href="/{{ app.user ? 'logout' : 'login' }}">
                            {{ app.user ? 'Se déconnecter' : 'Se connecter' }}
                        </a>
                    </div>
                </div>
            {% endblock %}
            <div id="content" class="flex flex-col gap-5 px-20 py-8">
                {% block content_title %}{% endblock %}
                {% block content %}{% endblock %}
            </div>
        {% endblock %}
    </body>
</html>
